<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Royal Health Care Kollam</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="static/img/royal_logo.jpg" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <!-- Link to Google Fonts Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="static/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body class="index-page">
    <!-- Header Section -->
    <header id="header" class="header sticky-top">
      <!-- Top Bar -->
      <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="d-flex align-items-center ms-4 text-white" data-aos="fade-right" style="font-size: 12px;">
            <i class="bi bi-envelope me-2"></i>
            <a href="mailto:customercare@royalhealthcarekollam.com" style="text-decoration: none; color: inherit;">customercare@royalhealthcarekollam.com</a>
          </div>
          
          <div class="d-flex align-items-center ms-4 text-white" data-aos="fade-right" style="font-size: 12px;">
            <i class="bi bi-whatsapp me-2"></i>
            <span>+919072530302</span>
          </div>
          
          <div class="d-flex align-items-center ms-4 text-white" data-aos="fade-right" style="font-size: 12px;">
            <i class="fas fa-ambulance me-2"></i>
            <span>+919188918748</span>
          </div>
          
          <div class="d-flex align-items-center ms-4 text-white" data-aos="fade-right" style="font-size: 12px;">
            <i class="bi bi-phone me-2"></i>
            <span>0474-2593555, 0474-2592888</span>
          </div>          
        </div>
      </div>
      <!-- End Top Bar -->

      <!-- Branding Section -->
      <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-between">
          <a href="" class="logo d-flex align-items-center me-auto" data-aos="fade-right"><img src="static/img/royal_logo.jpg" alt="" /></a>

          <!-- Navigation Menu -->
          <nav id="navmenu" class="navmenu" data-aos="fade-right">
            <ul>
              <li>
                <a href="/" data-aos="fade-right">Home</a>
              </li>
              <li>
                <a href="managements" data-aos="fade-right">Management</a>
              </li>
              <li>
                <a href="departments" data-aos="fade-right">Departments</a>
              </li>
              <li class="dropdown" data-aos="fade-right">
                <a href="services" data-aos="fade-right"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li>
                    <a href="" data-aos="fade-right">Insurance</a>
                  </li>
                  <li>
                    <a href="careers" data-aos="fade-right">Careers</a>
                  </li>
                  <li>
                    <a href="facilities" data-aos="fade-right">Facilities</a>
                  </li>
                  <li>
                    <a href="intpatients" data-aos="fade-right">International Patients</a>
                  </li>
                  <li>
                    <a href="facilities" data-aos="fade-right">Palliative Care</a>
                  </li>
                  <li>
                    <a href="intpatients" data-aos="fade-right">Homecare Treatment</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="findadoctor" data-aos="fade-right">Find a Doctor</a>
              </li>
              <li class="dropdown">
                <a href="#" data-aos="fade-right"><span>Blogs and Events</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li>
                    <a href="events" data-aos="fade-right">Blogs and Events</a>
                  </li>
                  <li>
                    <a href="gallery" data-aos="fade-right">Gallery</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contactus" data-aos="fade-right">Contact Us</a>
              </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list" data-aos="fade-right"></i>
          </nav>
        </div>
      </div>
    </header>
    <!-- End Header Section -->

    <!-- WhatsApp and Call Buttons -->
    <div class="fixed-buttons fade-up-section">
      <a href="tel:+91 9072530302" class="btn-whatsapp-pulse call-button" aria-label="Call Us"><i class="fa-solid fa-phone"></i></a>
      <a href="https://wa.me/+919072530302" class="btn-whatsapp-pulse whatsapp-button" aria-label="WhatsApp Us"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <!-- Footer About -->
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="" class="logo d-flex align-items-center" data-aos="fade-right">
              <img src="static/img/royal_logo.jpg" alt="" />
            </a>
            <div class="footer-contact pt-3">
              <p data-aos="fade-right">CHATHANNOOR -691572</p>
              <p class="mt-3" data-aos="fade-right">
                <strong data-aos="fade-right">Phone:</strong> 
                <span data-aos="fade-right">+919188918748</span>
              </p>
              <p>
                <strong data-aos="fade-right">Email:</strong> 
                <span data-aos="fade-right">customercare@royalhealthcarekollam.com</span>
              </p>
            </div>
            <div class="social-links d-flex mt-4" data-aos="fade-right">
              <a href="https://www.facebook.com/profile.php?id=61570233992082"><i class="bi bi-facebook" data-aos="fade-right"></i></a>
              <a href="https://www.instagram.com/royal_healthcare_"><i class="bi bi-instagram" data-aos="fade-right"></i></a>
              <a href="https://www.linkedin.com/company/royal-healthcare-kollam/"><i class="bi bi-linkedin" data-aos="fade-right"></i></a>
            </div>
          </div>
      
          <!-- Combined Row for Footer Links -->
          <div class="col-lg-8 col-md-12">
            <div class="row">
              <!-- Sections -->
              <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-right">
                <h4 data-aos="fade-right">Sections</h4>
                <ul>
                  <li><a href="" data-aos="fade-right">Home</a></li>
                  <li><a href="" data-aos="fade-right">About us</a></li>
                  <li><a href="" data-aos="fade-right">Departments</a></li>
                  <li><a href="" data-aos="fade-right">Terms of service</a></li>
                  <li><a href="" data-aos="fade-right">Privacy policy</a></li>
                </ul>
              </div>
      
              <!-- Services -->
              <div class="col-lg-3 col-md-6 footer-links">
                <h4 data-aos="fade-right">Services</h4>
                <ul>
                  <li><a href="" data-aos="fade-right">Homecare Treatment</a></li>
                  <li><a href="" data-aos="fade-right">Palliative care</a></li>
                  <li><a href="" data-aos="fade-right">24 hrs. ICU Ambulance Service</a></li>
                  <li><a href="" data-aos="fade-right">GYM & Fitness</a></li>
                  <li><a href="" data-aos="fade-right">Mortuary – 8 Body</a></li>
                  <li><a href="" data-aos="fade-right">Mobile Mortuary</a></li>
                </ul>
              </div>
      
              <!-- Specialties -->
              <div class="col-lg-3 col-md-6 footer-links">
                <h4 data-aos="fade-right">Specialties</h4>
                <ul>
                  <li><a href="" data-aos="fade-right">Emergency Medicine</a></li>
                  <li><a href="" data-aos="fade-right">General Surgery</a></li>
                  <li><a href="" data-aos="fade-right">General Medicine</a></li>
                  <li><a href="" data-aos="fade-right">Family Medicine</a></li>
                  <li><a href="" data-aos="fade-right">Obstetrics & Gynecology</a></li>
                  <li><a href="" data-aos="fade-right">Orthopedics and Joint Replacement</a></li>
                  <li><a href="" data-aos="fade-right">Radiology</a></li>
                  <li><a href="" data-aos="fade-right">Anasthesiology</a></li>
                  <li><a href="" data-aos="fade-right">ENT</a></li>
                  <li><a href="" data-aos="fade-right">Pediatrics</a></li>
                  <li><a href="" data-aos="fade-right">OMF</a></li>
                  <li><a href="" data-aos="fade-right">Cardiology</a></li>
                  <li><a href="" data-aos="fade-right">Neuro Medicine</a></li>
                  <li><a href="" data-aos="fade-right">Neuro Surgery</a></li>
                </ul>
              </div>
      
              <!-- Investigations -->
              <div class="col-lg-3 col-md-6 footer-links">
                <h4 data-aos="fade-right">Investigations</h4>
                <ul>
                  <li><a href="" data-aos="fade-right">ECG</a></li>
                  <li><a href="" data-aos="fade-right">CT-96 Slices Siemens</a></li>
                  <li><a href="" data-aos="fade-right">Ultrasound 4D</a></li>
                  <li><a href="" data-aos="fade-right">Modern LAB</a></li>
                  <li><a href="#appointment" data-aos="fade-right">Digital X-RAY</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>      

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span> <strong class="px-1 sitename">Royal Health Care</strong> <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          Designed and Developed by <a href="https://inspirezesttechnologies.com/"><strong>InspireZest Technologies Pvt Ltd</strong></a>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader-content">
        <img src="static/img/royal_logo.jpg" alt="Royal Health Care Logo" class="preloader-logo" />
        <div class="spinner"></div>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="static/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init()
    </script>
  </body>
</html>
