<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Home | Royal Health Care</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <!-- Link to Google Fonts Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="static/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>

  <body class="index-page">
    <!-- Header Section -->
    <header id="header" class="header sticky-top">
      <!-- Top Bar -->
      <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center" data-aos="fade-right"><a href="mailto:royalhospitalkollam@gmail.com">royalhospitalkollam@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4" data-aos="fade-right"><span>+91 9072530302</span></i>
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <!-- Branding Section -->
      <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-between">
          <a href="" class="logo d-flex align-items-center me-auto" data-aos="fade-right"><img src="static/img/royal_logo.jpg" alt="" /></a>

          <!-- Navigation Menu -->
          <nav id="navmenu" class="navmenu" data-aos="fade-right">
            <ul>
              <li>
                <a href="/" data-aos="fade-right">Home</a>
              </li>
              <li>
                <a href="managements" data-aos="fade-right">Managements</a>
              </li>
              <li>
                <a href="departments" data-aos="fade-right">Departments</a>
              </li>
              <li class="dropdown" data-aos="fade-right">
                <a href="services" data-aos="fade-right"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li>
                    <a href="" data-aos="fade-right">Insurance</a>
                  </li>
                  <li>
                    <a href="careers" data-aos="fade-right">Careers</a>
                  </li>
                  <li>
                    <a href="facilities" data-aos="fade-right">Facilities</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="findadoctor" data-aos="fade-right">Find a Doctor</a>
              </li>
              <li class="dropdown">
                <a href="#" data-aos="fade-right"><span>News and Events</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li>
                    <a href="gallery" data-aos="fade-right">Gallery</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contactus" data-aos="fade-right">Contact Us</a>
              </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list" data-aos="fade-right"></i>
          </nav>
        </div>
      </div>
    </header>
    <!-- End Header Section -->

    <!-- WhatsApp and Call Buttons -->
    <div class="fixed-buttons fade-up-section">
      <a href="tel:+91 9072530302" class="btn-whatsapp-pulse call-button" aria-label="Call Us"><i class="fa-solid fa-phone"></i></a>
      <a href="https://wa.me/+919072530302" class="btn-whatsapp-pulse whatsapp-button" aria-label="WhatsApp Us"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="" class="logo d-flex align-items-center" data-aos="fade-right"><img src="static/img/royal_logo.jpg" alt="" /></a>
            <div class="footer-contact pt-3">
              <p data-aos="fade-right">CHATHANNOOR -691572</p>
              <p class="mt-3" data-aos="fade-right">
                <strong data-aos="fade-right">Phone:</strong> <span data-aos="fade-right">+91 9072530302</span>
              </p>
              <p>
                <strong data-aos="fade-right">Email:</strong> <span data-aos="fade-right">royalhospitalkollam@gmail.com</span>
              </p>
            </div>
            <div class="social-links d-flex mt-4" data-aos="fade-right">
              <a href=""><i class="bi bi-facebook" data-aos="fade-right"></i></a>
              <a href=""><i class="bi bi-instagram" data-aos="fade-right"></i></a>
              <a href=""><i class="bi bi-linkedin" data-aos="fade-right"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links" data-aos="fade-right">
            <h4 data-aos="fade-right">Sections</h4>
            <ul>
              <li>
                <a href="" data-aos="fade-right">Home</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">About us</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Departments</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Terms of service</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Privacy policy</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 data-aos="fade-right">Services</h4>
            <ul>
              <li>
                <a href="" data-aos="fade-right">General Medicine</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Pediatrics</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Orthopedics</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Cardiology</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Emergency Care</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 data-aos="fade-right">Specialties</h4>
            <ul>
              <li>
                <a href="" data-aos="fade-right">Neurology</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Dermatology</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Ophthalmology</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Urology</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Oncology</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 data-aos="fade-right">Patient Resources</h4>
            <ul>
              <li>
                <a href="" data-aos="fade-right">Patient Portal</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Health Tips</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">Insurance</a>
              </li>
              <li>
                <a href="" data-aos="fade-right">FAQs</a>
              </li>
              <li>
                <a href="#appointment" data-aos="fade-right">Appointments</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span> <strong class="px-1 sitename">Royal Health Care</strong> <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          Designed and Developed by <a href="https://inspirezesttechnologies.com/"><strong>InspireZest Technologies Pvt Ltd</strong></a>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader-content">
        <img src="static/img/royal_logo.jpg" alt="Royal Health Care Logo" class="preloader-logo" />
        <div class="spinner"></div>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="static/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
