{% extends 'base.html' %}Find a Doctor | Royal Health Care{% block content %}
  <!-- Background Image Section -->
  <section id="background-section" class="d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1674702727317-d29b2788dc4a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVkaWNhbCUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D'); background-size: cover; background-position: center center; height: 50vh; max-width: 100%; color: #fff; filter: grayscale(0.5);">
    <div class="container text-center">
      <h1 class="lead" style="font-weight: bold; font-size: 34px;color: #fff;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Connect with Expert Doctors for Personalized Care</h1>
    </div>
  </section>
  <!-- /Background Image Section -->
  <!-- Doctors Section -->
  <section id="doctors" class="doctors section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>DOCTORS</h2>
      <p>"Experienced doctors providing expert care and support to patients in the hospital."</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Cardiologist</span>
              <p>Expert in heart health, treating cardiovascular diseases and disorders.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Cardiologist</span>
              <p>Specializes in bone, joint, and muscle surgeries and treatments.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Pediatrician</span>
              <p>Focuses on children's health, growth, and developmental needs.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Neurosurgeon</span>
              <p>Diagnoses and treats brain, spinal cord, and nervous system issues.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Dermatologist</span>
              <p>Treats skin conditions, including allergies, infections, and cosmetic concerns.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Anesthesiologist</span>
              <p>Administers anesthesia and manages pain during medical procedures.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Physiotherapist</span>
              <p>Helps restore movement and function after injuries or surgeries.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>ENT Specialist</span>
              <p>Treats ear, nose, and throat conditions with precision.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Pulmonologist</span>
              <p>Specializes in lung diseases and respiratory system care.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>General Physician</span>
              <p>Manages a wide range of adult medical conditions.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Neonatologist</span>
              <p>Cares for premature or critically ill newborns with precision.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Casualty Doctor</span>
              <p>First responder to accidents and urgent medical conditions.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>General Surgeon</span>
              <p>Performs surgical procedures on various body systems expertly.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Casualty Doctor</span>
              <p>First responder to accidents and urgent medical conditions.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Neurologist</span>
              <p>Expert in brain, spine, and nervous system disorders.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member d-flex align-items-start">
            <div class="pic">
              <img src="static/img/doctors/doctors-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Psychiatrist</span>
              <p>Focuses on mental health, emotional well-being, and behavioral disorders.</p>
              <div class="social">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->
      </div>
    </div>
  </section>
  <!-- /Doctors Section -->
{% endblock %}
