{% extends 'base.html' %}Gallery | Royal Health Care{% block content %}
  <!-- Background Image Section -->
  <section id="background-section" class="d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1674702727317-d29b2788dc4a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVkaWNhbCUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D'); background-size: cover; background-position: center center; height: 50vh; max-width: 100%; color: #fff; filter: grayscale(0.5);">
    <div class="container text-center">
      <h1 class="lead" style="font-weight: bold; font-size: 22px;">We're here to help with all your car care needs!</h1>
    </div>
  </section>
  <!-- /Background Image Section -->
  <!-- Gallery Section -->
  <section id="gallery" class="gallery section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>GALLERY</h2>
      <p>"Explore Our Facilities: A Glimpse into Our World-Class Care"</p>
    </div>
    <!-- End Section Title -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-1.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-2.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-3.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-4.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-5.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-6.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-7.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-8.jpg" alt="" class="img-fluid" /></a>
          </div>
        </div>
        <!-- End Gallery Item -->
      </div>
    </div>
  </section>
  <!-- /Gallery Section -->
{% endblock %}
