{% extends 'base.html' %}Home | Royal Health Care{% block content %}
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">
      <img src="https://t3.ftcdn.net/jpg/04/87/69/28/360_F_487692869_V8MZ1hLvhXQZKT50EV8Sh13AkdibGJb3.jpg" alt="" data-aos="fade-in" />

      <div class="container position-relative">
        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>
            WELCOME TO
            <br />Royal <span class="" style="color: black;">Health Care</span>
          </h2>
          <p>"Providing compassionate care and advanced healing for every patient"</p>
          <br />
          <a class="cta-btn mx-1" href="#appointment">Make an Appointment</a>
        </div>
        <!-- End Welcome -->
        <!-- End Content -->
      </div>
    </section>
    <!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">
      <div class="container">
        <div class="row gy-4 gx-5">
          <div class="col-lg-6 position-relative align-self-start justify-content-center justify-text" data-aos="fade-up" data-aos-delay="200">
            <img src="static/img/about.jpg" class="img-fluid" alt="" />
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            <br />
            <br />
            <p class="justify-content-center justify-text">Royal Healthcare is excited to announce its full reopening in 2025, featuring upgraded facilities, advanced medical equipment, and expanded services. We remain committed to delivering high-quality healthcare in a modern and safe environment. Our team of dedicated doctors, nurses, and staff offer care, comfort, and support, whether for routine check-ups, specialized treatments, or emergencies. We are proud to continue serving the Chathannoor community and beyond, and we thank you for trusting us with your health.</p>
          </div>

          <div class="col-lg-6 content justify-content-center justify-text" data-aos="fade-up" data-aos-delay="100">
            <h3>ABOUT US</h3>
            <p class="justify-content-center justify-text">Royal Healthcare, located in Chathannoor, Kollam, Kerala, has been a trusted healthcare provider since 2005. Our mission is simple: to deliver exceptional medical care and improve the health of our community. Over the years, we have earned a reputation for compassionate care, modern facilities, and a dedicated team committed to enhancing the well-being of those we serve.

              In 2016, we temporarily closed for a comprehensive renovation to upgrade our facilities and expand our services. However, the completion of our plans was delayed, especially due to the challenges posed by the COVID-19 pandemic. In response, we offered our facility to the government as a dedicated COVID-19 care center to support local efforts.</p>
            <ul>
              <li>
                <i class="fa-solid fa-pump-medical"></i>
                <div>
                  <h5>Our Commitment to Excellence</h5>
                  <p>Royal Healthcare is dedicated to offering quality services.</p>
                </div>
              </li>
              <br />
              <li>
                <i class="fa-solid fa-heart-circle-xmark"></i>
                <div>
                  <h5>A Strong Foundation of Care</h5>
                  <p>Our team delivers compassionate care with expertise daily.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-user-doctor"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctors</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-regular fa-hospital"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="1" class="purecounter"></span>
              <p>Departments</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-flask"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Research Labs</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Awards</p>
            </div>
          </div>
          <!-- End Stats Item -->
        </div>
      </div>
    </section>
    <!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>SERVICES</h2>
        <p>"We provide comprehensive, compassionate care with advanced medical treatments and skilled professionals."</p>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="row row-cols-1 row-cols-lg-5 g-4">
          <div class="col" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <h3>Medical Care</h3>
              <p>Medical care involves services provided by healthcare professionals to maintain or improve health, prevent illness, diagnose conditions, and treat diseases. It includes both physical and mental health support.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <h3>Palliative Care</h3>
              <p>Palliative care is specialized medical care aimed at providing relief from the symptoms and suffering of serious illnesses. It focuses on improving quality of life for patients and their families.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <h3>Emergency Care</h3>
              <p>Emergency care refers to the immediate medical attention provided to individuals experiencing acute health issues or injuries. It aims to stabilize, treat, and prevent further complications in urgent situations.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <h3>Fitness and Diet Services</h3>
              <p>Fitness and diet-based services offer personalized workout plans, nutrition guidance, and wellness coaching to help individuals achieve their health goals and maintain a balanced lifestyle.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <h3>Mental & Physical Well-being</h3>
              <p>Mental and physical well-being counseling supports individuals in managing stress, emotional challenges, and physical health concerns, promoting holistic wellness.</p>
            </div>
          </div>
          <!-- End Service Item -->
        </div>
      </div>
    </section>
    <!-- /Services Section -->

    <!-- Appointment Section -->
    <section id="appointment" class="appointment section bg-light">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>APPOINTMENT</h2>
        <p>"Book your appointment now for personalized care and prompt medical attention—fill out the form below to schedule your visit."</p>
      </div>
      <!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="" />
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="" />
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required="" />
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="department" id="department" class="form-select" required="">
                <option value="">Select Department</option>
                <option value="Department 1">Department 1</option>
                <option value="Department 2">Department 2</option>
                <option value="Department 3">Department 3</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="doctor" id="doctor" class="form-select" required="">
                <option value="">Select Doctor</option>
                <option value="Doctor 1">Doctor 1</option>
                <option value="Doctor 2">Doctor 2</option>
                <option value="Doctor 3">Doctor 3</option>
              </select>
            </div>
          </div>

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
          </div>
          <div class="mt-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
            <div class="text-center">
              <button type="submit">Make an Appointment</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- /Appointment Section -->

    <!-- Departments Section -->
    <section id="departments" class="departments section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>DEPARTMENTS</h2>
        <p>"Hospitals have various departments providing specialized care for different medical needs."</p>
      </div>
      <!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">GYNAECOLOGY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">ORTHOPAEDIC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">EMERGENCY MEDICINE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">CASUALTY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">GENERAL SURGERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-6">NEONATOLOGY</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>GYNAECOLOGY</h3>
                    <p class="fst-italic">A gynecologist specializes in the health of the female reproductive system, diagnosing and treating conditions related to the uterus, ovaries, fallopian tubes, and vagina.</p>
                    <p>Gynecologists offer services like routine check-ups, cancer screenings, family planning, prenatal care, and treat menstrual disorders and menopausal symptoms, ensuring overall reproductive health.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://www.renaimedicity.org/wp-content/uploads/2021/03/obstetrics-gynaecology-inn.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>ORTHOPAEDIC</h3>
                    <p class="fst-italic">Orthopedic medicine focuses on diagnosing, treating, and preventing musculoskeletal system disorders, including bones, joints, muscles, ligaments, tendons, and nerves.</p>
                    <p>Orthopedic surgeons treat fractures, arthritis, sports injuries, and spinal disorders using surgical and non-surgical methods to restore function and alleviate pain.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://www.gautamtawari.com/blog/wp-content/uploads/2022/05/gautam-tawari-orthopaedic-doctor.jpeg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>EMERGENCY MEDICINE</h3>
                    <p class="fst-italic">Emergency Medicine specializes in the immediate treatment of acute illnesses or injuries, focusing on rapid evaluation, diagnosis, and stabilization of patients.</p>
                    <p>Emergency physicians provide care for trauma, cardiac events, respiratory distress, and poisoning, ensuring swift and effective interventions in critical conditions.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://static.wixstatic.com/media/f4a4c6_9b31ebf696174c888840034bd6350c98~mv2.jpg/v1/fill/w_568,h_434,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4a4c6_9b31ebf696174c888840034bd6350c98~mv2.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>CASUALTY</h3>
                    <p class="fst-italic">A casualty in a hospital is a patient requiring immediate care due to injury, illness, or emergency, typically triaged in an emergency department.</p>
                    <p>Casualties are prioritized based on severity, with treatment ranging from minor care to life-saving procedures, ensuring timely and appropriate attention for all patients.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://www.shutterstock.com/image-photo/emergency-department-doctors-nurses-surgeons-600nw-1189798267.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>GENERAL SURGERY</h3>
                    <p class="fst-italic">General surgery involves a variety of surgical procedures to treat conditions affecting the abdomen, digestive system, thyroid, and soft tissues.</p>
                    <p>General surgeons perform operations like appendectomies, hernia repairs, and colorectal surgeries to address medical issues and improve patients' health and quality of life.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://www.verywellhealth.com/thmb/ypYknso9j_dvzhCZ5_ncC5m19Ew=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-461965887-5953c94f5f9b584bfeae9d03.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>NEONATOLOGY</h3>
                    <p class="fst-italic">Neonatology is a branch of pediatrics specializing in the care of newborns, especially those who are premature, critically ill, or have birth defects.</p>
                    <p>Neonatologists provide expert care in NICUs, treating conditions like respiratory distress and infections, ensuring healthy development and survival of newborns in their early stages of life.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://www.harishchildrenhospital.in/wp-content/uploads/2021/03/nicu-service.png" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />
        <br />
        <br />

        <div class="row">
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-7">
                <div class="row">
                  <div class="col-lg-4 text-center order-1 order-lg-1">
                    <img src="https://www.sixsigmahospital.com/wp-content/uploads/2024/02/young-male-psysician-with-patient-measuring-blood-pressure-3-scaled.webp" alt="" class="img-fluid" />
                  </div>
                  <div class="col-lg-8 details order-2 order-lg-2">
                    <h3>GENERAL MEDICINE</h3>
                    <p class="fst-italic">General medicine in hospitals focuses on diagnosing, treating, and managing a wide range of illnesses and conditions in adult patients.</p>
                    <p>It serves as the foundation of patient care, addressing common diseases, chronic conditions, and acute illnesses. General physicians collaborate with specialists to ensure comprehensive care, emphasizing diagnosis, prevention, and holistic treatment.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-8">
                <div class="row">
                  <div class="col-lg-4 text-center order-1 order-lg-1">
                    <img src="https://uag.edu/contenido/aUz1FT1B7g/navigating-the-path-to-becoming-a-pediatrician.jpg" alt="" class="img-fluid" />
                  </div>
                  <div class="col-lg-8 details order-2 order-lg-2">
                    <h3>PEDIATRICIAN</h3>
                    <p class="fst-italic">A pediatrician in a hospital specializes in the medical care of infants, children, and adolescents.</p>
                    <p>They diagnose and treat illnesses, provide preventive health services, and monitor growth and development. Working closely with families and other healthcare professionals, pediatricians ensure the physical, emotional, and social well-being of young patients in a nurturing environment.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-9">
                <div class="row">
                  <div class="col-lg-4 text-center order-1 order-lg-1">
                    <img src="https://lifelinehospitalkerala.com/wp-content/uploads/2024/09/woman-is-holding-heart-shaped-human-heart-with-right-hand-scaled.jpg.webp" alt="" class="img-fluid" />
                  </div>
                  <div class="col-lg-8 details order-2 order-lg-2">
                    <h3>CARDIOLOGY</h3>
                    <p class="fst-italic">Cardiology is a vital medical specialty in hospitals, focusing on diagnosing and treating heart and vascular disorders.</p>
                    <p>Cardiologists use advanced technology to manage conditions like heart attacks, arrhythmias, and hypertension. Hospitals often feature dedicated cardiac units, offering services such as ECG, angiography, and cardiac surgery, ensuring comprehensive heart care for patients.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-10">
                <div class="row">
                  <div class="col-lg-4 text-center order-1 order-lg-1">
                    <img src="https://sahyadrihospital.com/wp-content/uploads/2021/04/psychiatry.jpg.webp" alt="" class="img-fluid" />
                  </div>
                  <div class="col-lg-8 details order-2 order-lg-2">
                    <h3>PSYCHIATRIST</h3>
                    <p class="fst-italic">A psychiatrist in a hospital specializes in diagnosing and treating mental health disorders.</p>
                    <p>They provide therapy, prescribe medications, and collaborate with multidisciplinary teams to support patients' emotional and psychological well-being. Psychiatrists address conditions like depression, anxiety, schizophrenia, and substance abuse, playing a critical role in comprehensive healthcare and patient recovery.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-11">
                <div class="row">
                  <div class="col-lg-4 text-center order-1 order-lg-1">
                    <img src="https://sushruthospital.org/assets/blogs/8ce2911ae7c04d571665ae313f8676a6.jpg" alt="" class="img-fluid" />
                  </div>
                  <div class="col-lg-8 details order-2 order-lg-2">
                    <h3>PULMONOLOGIST</h3>
                    <p class="fst-italic">A pulmonologist is a specialized physician in a hospital who diagnoses and treats respiratory system disorders, including asthma, COPD, pneumonia, and lung infections.</p>
                    <p>They perform diagnostic tests like spirometry and bronchoscopy, manage critical cases in intensive care, and collaborate with other specialists to ensure optimal respiratory health for patients.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-12">
                <div class="row">
                  <div class="col-lg-4 text-center order-1 order-lg-1">
                    <img src="https://zydushospitals.com/images/ent-surgery-about.jpg" alt="" class="img-fluid" />
                  </div>
                  <div class="col-lg-8 details order-2 order-lg-2">
                    <h3>E.N.T</h3>
                    <p class="fst-italic">The ENT (Ear, Nose, and Throat) department in a hospital specializes in diagnosing and treating conditions related to the ear, nose, throat, head, and neck.</p>
                    <p>It addresses issues like hearing loss, sinusitis, tonsillitis, and voice disorders, using advanced medical procedures and surgeries to improve patients' quality of life.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-7">GENERAL MEDICINE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-8">PEDIATRICIAN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-9">CARDIOLOGY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-10">PSYCHIATRIST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-11">PULMONOLOGIST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-12">E.N.T</a>
              </li>
            </ul>
          </div>
        </div>

        <br />
        <br />
        <br />

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-13">PHYSIOTHERAPY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-14">NEURO MEDICINE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-15">ANASTHESIA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-16">DIABETOLOGY</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-13">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>PHYSIOTHERAPY</h3>
                    <p class="fst-italic">Physiotherapy focuses on rehabilitation and improving movement, strength, and mobility for patients recovering from injuries, surgeries, or illnesses to enhance their quality of life.</p>
                    <p>Skilled physiotherapists use techniques like manual therapy and exercises to alleviate pain, promote healing, and restore mobility for conditions like musculoskeletal injuries and neurological disorders.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://www.acesportsclinic.com.au/wp-content/uploads/2021/03/Shoulder-treatment-wall-frame-min.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-14">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>NEURO MEDICINE</h3>
                    <p class="fst-italic">Neuro Medicine involves diagnosing and treating disorders of the brain, spinal cord, and nerves, aiming to improve quality of life for patients with neurological conditions.</p>
                    <p>Neurologists use advanced tools like MRIs to diagnose conditions such as strokes, epilepsy, and neurodegenerative disorders, offering personalized treatment plans combining medication and therapy.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://renaissancepvtltd.com/wp-content/uploads/2021/11/neuro-medicine-img.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-15">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>ANASTHESIA</h3>
                    <p class="fst-italic">Anesthesia is used to induce temporary loss of sensation during surgeries, ensuring patient comfort and safety by managing pain and vital signs during procedures.</p>
                    <p>Anesthesiologists carefully administer anesthesia based on procedure needs, monitoring the patient's condition and providing post-procedure care to ensure recovery and stability.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://madeforthismoment.asahq.org/wp-content/uploads/2017/10/iStock-627196908.jpg" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-16">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>DIABETOLOGY</h3>
                    <p class="fst-italic">Diabetology focuses on diagnosing and managing diabetes and its complications, helping patients manage blood sugar levels to improve health and prevent long-term issues.</p>
                    <p>Endocrinologists provide personalized care plans, including insulin therapy and continuous glucose monitoring, to manage diabetes and prevent complications such as heart disease or kidney failure.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://productimages.withfloats.com/serviceimages/tile/64029913f27d6241851930bcDepartment-of-Diabetology-and-Endocrinology_tn" alt="" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Departments Section -->

    <!-- Doctors Section -->
    <section id="doctors" class="doctors section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>DOCTORS</h2>
        <p>"Experienced doctors providing expert care and support to patients in the hospital."</p>
      </div>
      <!-- End Section Title -->
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-1.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Cardiologist</span>
                <p>Expert in heart health, treating cardiovascular diseases and disorders.</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-2.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Cardiologist</span>
                <p>Specializes in bone, joint, and muscle surgeries and treatments.</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-3.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Pediatrician</span>
                <p>Focuses on children's health, growth, and developmental needs.</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-4.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
                <p>Diagnoses and treats brain, spinal cord, and nervous system issues.</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
        </div>
      </div>
    </section>
    <!-- /Doctors Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>TESTIMONIALS</h3>
            <p>"At Royal Health Care Kollam, we value the trust and satisfaction of our patients. Read heartfelt testimonials from individuals who have experienced our exceptional care, world-class facilities, and compassionate medical team. Their words reflect our commitment to providing the best healthcare services in a warm and supportive environment."</p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Royal Hospital provided exceptional care, ensuring my recovery was quick and comfortable. The staff was highly professional and supportive.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>The care I received at Royal Hospital was outstanding. The medical team was compassionate and made me feel at ease.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>I am truly grateful for the personalized care at Royal Hospital. Their team went above and beyond to support my recovery.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Royal Hospital’s facilities are top-notch, and the healthcare professionals are dedicated to providing the best patient care possible.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>From start to finish, my experience at Royal Hospital was excellent. The staff treated me with care, respect, and professionalism.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Testimonials Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>GALLERY</h2>
        <p>"Explore Our Facilities: A Glimpse into Our World-Class Care"</p>
      </div>
      <!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-1.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-2.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-3.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-4.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-5.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-6.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-7.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-8.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->
        </div>
      </div>
    </section>
    <!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>CONTACT US</h2>
        <p>"Get in Touch with Us – We're Here to Assist You with Your Healthcare Needs"</p>
      </div>
      <!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.1931859873316!2d76.70310169999999!3d8.8615997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05e389de9c1819%3A0x93e57185babdec87!2sRoyal%20Healthcare!5e0!3m2!1sen!2sin!4v1734775340203!5m2!1sen!2sin" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-4">
            <br />
            <br />
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Location</h3>
                <p>CHATHANNOOR -691572</p>
              </div>
            </div>
            <!-- End Info Item -->
            <br />
            <br />

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 9072530302</p>
              </div>
            </div>
            <!-- End Info Item -->
            <br />
            <br />

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>royalhospitalkollam@gmail.com</p>
              </div>
            </div>
            <!-- End Info Item -->
            <br />
            <br />
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-whatsapp flex-shrink-0"></i>
              <div>
                <h3>Message Us</h3>
                <p>+91 9072530302</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form bg-light" style="padding: 50px;" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="" />
                </div>

                <div class="col-md-6">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="" />
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="" />
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
          <!-- End Contact Form -->
        </div>
      </div>
    </section>
    <!-- /Contact Section -->
  </main>
{% endblock %}
