{% extends 'base.html' %}Home | Royal Health Care{% block content %}
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">
      <img src="static/img/bg.webp" alt="" data-aos="fade-in" />

      <div class="container position-relative">
        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>
            WELCOME TO
            <br />Royal <span class="" style="color: black;">Health Care</span>
          </h2>
          <p>Providing compassionate care and advanced healing for every patient.</p>
        </div>
        <!-- End Welcome -->
        <!-- End Content -->
      </div>
    </section>
    <!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">
      <div class="container">
        <div class="row gy-4 gx-5">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
            <img src="static/img/about.jpg" class="img-fluid" alt="" />
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            <br />
            <br />
            <p>Royal Healthcare is excited to announce its full reopening in 2025, featuring upgraded facilities, advanced medical equipment, and expanded services. We remain committed to delivering high-quality healthcare in a modern and safe environment. Our team of dedicated doctors, nurses, and staff offer care, comfort, and support, whether for routine check-ups, specialized treatments, or emergencies. We are proud to continue serving the Chathannoor community and beyond, and we thank you for trusting us with your health.</p>
          </div>

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>ABOUT US</h3>
            <p>Royal Healthcare, located in Chathannoor, Kollam, Kerala, has been a trusted healthcare provider since 2005. Our mission is simple: to deliver exceptional medical care and improve the health of our community. Over the years, we have earned a reputation for compassionate care, modern facilities, and a dedicated team committed to enhancing the well-being of those we serve.

              In 2016, we temporarily closed for a comprehensive renovation to upgrade our facilities and expand our services. However, the completion of our plans was delayed, especially due to the challenges posed by the COVID-19 pandemic. In response, we offered our facility to the government as a dedicated COVID-19 care center to support local efforts.</p>
            <ul>
              <li>
                <i class="fa-solid fa-pump-medical"></i>
                <div>
                  <h5>Our Commitment to Excellence</h5>
                  <p>Royal Healthcare is dedicated to offering quality services.</p>
                </div>
              </li>
              <br />
              <li>
                <i class="fa-solid fa-heart-circle-xmark"></i>
                <div>
                  <h5>A Strong Foundation of Care</h5>
                  <p>Our team delivers compassionate care with expertise daily.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-user-doctor"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctors</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-regular fa-hospital"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
              <p>Departments</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-flask"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Research Labs</p>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Awards</p>
            </div>
          </div>
          <!-- End Stats Item -->
        </div>
      </div>
    </section>
    <!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>SERVICES</h2>
        <p>"We provide comprehensive, compassionate care with advanced medical treatments and skilled professionals."</p>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="row row-cols-1 row-cols-lg-5 g-4">
          <div class="col" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <h3>Medical Care</h3>
              <p>Medical care involves services provided by healthcare professionals to maintain or improve health, prevent illness, diagnose conditions, and treat diseases. It includes both physical and mental health support.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <h3>Palliative Care</h3>
              <p>Palliative care is specialized medical care aimed at providing relief from the symptoms and suffering of serious illnesses. It focuses on improving quality of life for patients and their families.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <h3>Emergency Care</h3>
              <p>Emergency care refers to the immediate medical attention provided to individuals experiencing acute health issues or injuries. It aims to stabilize, treat, and prevent further complications in urgent situations.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <h3>Fitness and Diet Services</h3>
              <p>Fitness and diet-based services offer personalized workout plans, nutrition guidance, and wellness coaching to help individuals achieve their health goals and maintain a balanced lifestyle.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <h3>Mental & Physical Well-being</h3>
              <p>Mental and physical well-being counseling supports individuals in managing stress, emotional challenges, and physical health concerns, promoting holistic wellness.</p>
            </div>
          </div>
          <!-- End Service Item -->
        </div>
      </div>
    </section>
    <!-- /Services Section -->

    <!-- Appointment Section -->
    <section id="appointment" class="appointment section bg-light">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>APPOINTMENT</h2>
        <p>"Book your appointment now for personalized care and prompt medical attention—fill out the form below to schedule your visit."</p>
      </div>
      <!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="" />
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="" />
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required="" />
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="department" id="department" class="form-select" required="">
                <option value="">Select Department</option>
                <option value="Department 1">Department 1</option>
                <option value="Department 2">Department 2</option>
                <option value="Department 3">Department 3</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="doctor" id="doctor" class="form-select" required="">
                <option value="">Select Doctor</option>
                <option value="Doctor 1">Doctor 1</option>
                <option value="Doctor 2">Doctor 2</option>
                <option value="Doctor 3">Doctor 3</option>
              </select>
            </div>
          </div>

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
          </div>
          <div class="mt-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
            <div class="text-center">
              <button type="submit">Make an Appointment</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- /Appointment Section -->

  <!-- Departments Section -->
  <section id="departments" class="departments section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>DEPARTMENTS</h2>
      <p>"Hospitals have various departments providing specialized care for different medical needs."</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">GYNAECOLOGY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">ORTHOPAEDIC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">EMERGENCY MEDICINE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">CASUALTY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">GENERAL SURGERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-6">NEONATOLOGY</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="departments-tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>GYNAECOLOGY</h3>
                  <p class="fst-italic">A gynecologist is a medical professional specializing in the health of the female reproductive system.</p>
                  <p>They diagnose and treat conditions related to the uterus, ovaries, fallopian tubes, and vagina. Gynecologists offer services such as routine check-ups, screenings for cancers like cervical and breast cancer, family planning, and prenatal care. They also manage menstrual disorders, infections, and menopausal symptoms. Gynecologists provide both preventive and therapeutic care, ensuring women's overall reproductive health and well-being throughout different life stages.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://www.renaimedicity.org/wp-content/uploads/2021/03/obstetrics-gynaecology-inn.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>ORTHOPAEDIC</h3>
                  <p class="fst-italic">Orthopedic medicine focuses on diagnosing, treating, and preventing disorders of the musculoskeletal system, which includes bones, joints, muscles, ligaments, tendons, and nerves.</p>
                  <p>Orthopedic specialists, known as orthopedic surgeons, address conditions like fractures, arthritis, sports injuries, and spinal disorders. They use both surgical and non-surgical methods, such as physical therapy, medications, and surgeries, to restore function and alleviate pain. The field plays a crucial role in improving mobility and quality of life for individuals affected by musculoskeletal conditions.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://www.gautamtawari.com/blog/wp-content/uploads/2022/05/gautam-tawari-orthopaedic-doctor.jpeg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>EMERGENCY MEDICINE</h3>
                  <p class="fst-italic">Emergency Medicine is a medical specialty focused on the immediate evaluation, diagnosis, and treatment of patients experiencing acute illnesses or injuries.</p>
                  <p>It involves rapid decision-making and interventions to stabilize patients in critical conditions. Emergency physicians work in various settings, including emergency departments, trauma centers, and urgent care facilities. Their expertise covers a wide range of medical emergencies, including trauma, cardiac events, respiratory distress, and poisoning, ensuring quick and effective care for individuals in urgent need of medical attention.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://static.wixstatic.com/media/f4a4c6_9b31ebf696174c888840034bd6350c98~mv2.jpg/v1/fill/w_568,h_434,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4a4c6_9b31ebf696174c888840034bd6350c98~mv2.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>CASUALTY</h3>
                  <p class="fst-italic">A casualty in a hospital refers to a patient who requires immediate medical attention due to injury, illness, or emergency conditions.</p>
                  <p>Casualties are typically triaged in an emergency department where healthcare professionals assess the severity of their condition. Depending on the urgency, treatment may range from minor care to life-saving procedures. Hospitals often prioritize casualties based on the seriousness of their symptoms or injuries to ensure timely and appropriate care for all patients.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://www.shutterstock.com/image-photo/emergency-department-doctors-nurses-surgeons-600nw-1189798267.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>GENERAL SURGERY</h3>
                  <p class="fst-italic">General surgery in a hospital involves a wide range of surgical procedures to treat various conditions affecting the abdomen, digestive system, thyroid, and soft tissues.</p>
                  <p>Surgeons specializing in this field perform operations such as appendectomies, hernia repairs, gallbladder removals, and colorectal surgeries. The goal is to address medical issues through surgical intervention, improve patients' health, and alleviate pain or complications. General surgery often combines both emergency and elective procedures, ensuring comprehensive care for patients in need of surgical treatment.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://www.verywellhealth.com/thmb/ypYknso9j_dvzhCZ5_ncC5m19Ew=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-461965887-5953c94f5f9b584bfeae9d03.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-6">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>NEONATOLOGY</h3>
                  <p class="fst-italic">Neonatology is a specialized branch of pediatrics focused on the care of newborns, particularly those who are premature, critically ill, or have birth defects.</p>
                  <p>Neonatologists provide expert care in neonatal intensive care units (NICUs) where they monitor and treat conditions like respiratory distress, infections, and developmental issues. The goal of neonatology is to ensure the healthy development and survival of newborns, offering advanced medical support in a compassionate environment to address the unique needs of infants during their early stages of life.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://www.harishchildrenhospital.in/wp-content/uploads/2021/03/nicu-service.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />

      <div class="row">
        <div class="col-lg-4 text-center">
          <div class="tab-content">
            <div class="tab-pane active show" id="departments-tab-7">
              <img src="https://www.sixsigmahospital.com/wp-content/uploads/2024/02/young-male-psysician-with-patient-measuring-blood-pressure-3-scaled.webp" alt="" class="img-fluid" />
            </div>
            <div class="tab-pane" id="departments-tab-8">
              <img src="https://uag.edu/contenido/aUz1FT1B7g/navigating-the-path-to-becoming-a-pediatrician.jpg" alt="" class="img-fluid" />
            </div>
            <div class="tab-pane" id="departments-tab-9">
              <img src="https://lifelinehospitalkerala.com/wp-content/uploads/2024/09/woman-is-holding-heart-shaped-human-heart-with-right-hand-scaled.jpg.webp" alt="" class="img-fluid" />
            </div>
            <div class="tab-pane" id="departments-tab-10">
              <img src="https://sahyadrihospital.com/wp-content/uploads/2021/04/psychiatry.jpg.webp" alt="" class="img-fluid" />
            </div>
            <div class="tab-pane" id="departments-tab-11">
              <img src="https://sushruthospital.org/assets/blogs/8ce2911ae7c04d571665ae313f8676a6.jpg" alt="" class="img-fluid" />
            </div>
            <div class="tab-pane" id="departments-tab-12">
              <img src="https://zydushospitals.com/images/ent-surgery-about.jpg" alt="" class="img-fluid" />
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="tab-content">
            <div class="tab-pane active show details" id="departments-tab-7">
              <h3>GENERAL MEDICINE</h3>
              <p class="fst-italic">General Medicine in hospitals is a branch of healthcare that focuses on diagnosing, treating, and preventing a wide range of non-surgical conditions in adults.</p>
              <p>It involves managing chronic illnesses, infections, respiratory problems, cardiovascular diseases, and more. General physicians, or internists, are skilled in understanding complex medical issues, providing comprehensive care, and coordinating treatments across multiple specialties. This department plays a critical role in the overall health management of patients, ensuring they receive personalized and ongoing care.</p>
            </div>
            <div class="tab-pane details" id="departments-tab-8">
              <h3>PEDIATRICIAN</h3>
              <p class="fst-italic">A pediatrician in a hospital is a medical professional specializing in the care of infants, children, and adolescents.</p>
              <p>They diagnose and treat a wide range of health conditions, from common illnesses to complex disorders, ensuring overall well-being. Pediatricians monitor growth, administer vaccinations, and provide preventive care. They offer guidance to parents on nutrition, safety, and developmental milestones. In hospitals, pediatricians collaborate with other specialists to provide comprehensive care for young patients, ensuring their physical and emotional health needs are met.</p>
            </div>
            <div class="tab-pane details" id="departments-tab-9">
              <h3>CARDIOLOGY</h3>
              <p class="fst-italic">Cardiology in hospitals focuses on diagnosing, treating, and preventing heart and vascular conditions.</p>
              <p>Cardiologists specialize in managing diseases such as heart failure, arrhythmias, coronary artery disease, and hypertension. They use advanced diagnostic tools like ECGs, echocardiograms, and stress tests to assess heart health. Treatments may include medication, lifestyle advice, and interventions like angioplasty or surgery. Hospital cardiology teams work collaboratively to provide comprehensive care, ensuring patients receive the appropriate treatment to improve heart function and overall health.</p>
            </div>
            <div class="tab-pane details" id="departments-tab-10">
              <h3>PSYCHIATRIST</h3>
              <p class="fst-italic">A psychiatrist in a hospital is a medical professional specializing in diagnosing, treating, and managing mental health disorders.</p>
              <p>They work with patients experiencing conditions such as depression, anxiety, schizophrenia, and bipolar disorder. Psychiatrists conduct comprehensive assessments, prescribe medications, and offer therapy to help improve patients' mental well-being. They collaborate with other healthcare providers to ensure a holistic approach to treatment. Psychiatrists play a crucial role in providing support for individuals facing mental health challenges in a hospital setting.</p>
            </div>
            <div class="tab-pane details" id="departments-tab-11">
              <h3>PULMONOLOGIST</h3>
              <p class="fst-italic">A pulmonologist is a medical specialist who focuses on diagnosing, treating, and managing diseases related to the lungs and respiratory system.</p>
              <p>In a hospital setting, pulmonologists evaluate conditions such as asthma, pneumonia, chronic obstructive pulmonary disease (COPD), and lung cancer. They use various diagnostic tools, including pulmonary function tests and imaging, to assess lung health. Pulmonologists also provide treatments like inhaler therapy, oxygen therapy, and sometimes surgical interventions to improve patients' breathing and quality of life.</p>
            </div>
            <div class="tab-pane details" id="departments-tab-12">
              <h3>E.N.T</h3>
              <p class="fst-italic">E.N.T. (Ear, Nose, and Throat) departments in hospitals specialize in diagnosing and treating conditions related to the ear, nose, and throat.</p>
              <p>This includes a wide range of disorders such as hearing loss, sinus problems, allergies, throat infections, and balance issues. E.N.T. specialists, also known as otolaryngologists, provide both medical and surgical treatments for these conditions. The department also addresses voice disorders, sleep apnea, and pediatric concerns, offering comprehensive care to improve quality of life for patients of all ages.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-7">GENERAL MEDICINE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-8">PEDIATRICIAN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-9">CARDIOLOGY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-10">PSYCHIATRIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-11">PULMONOLOGIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-12">E.N.T</a>
            </li>
          </ul>
        </div>
      </div>

      <br />
      <br />
      <br />

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-13">PHYSIOTHERAPY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-14">NEURO MEDICINE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-15">ANASTHESIA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-16">DIABETOLOGY</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="departments-tab-13">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>PHYSIOTHERAPY</h3>
                  <p class="fst-italic">Physiotherapy in hospitals focuses on helping patients recover from injuries, surgeries, or illnesses by improving movement, strength, and functionality.</p>
                  <p>Skilled physiotherapists use various techniques such as manual therapy, exercises, and modalities like heat or cold therapy to alleviate pain and promote healing. Physiotherapy supports rehabilitation for conditions like musculoskeletal injuries, neurological disorders, and post-operative recovery, aiming to restore mobility and independence. It is an essential part of comprehensive healthcare, aiding in faster recovery and improving the overall quality of life for patients.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://www.acesportsclinic.com.au/wp-content/uploads/2021/03/Shoulder-treatment-wall-frame-min.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-14">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>NEURO MEDICINE</h3>
                  <p class="fst-italic">Neuro Medicine in a hospital focuses on diagnosing and treating disorders of the brain, spinal cord, nerves, and muscles.</p>
                  <p>Specialists in this field, including neurologists, provide comprehensive care for conditions such as strokes, epilepsy, Parkinson's disease, multiple sclerosis, and neurodegenerative disorders. Advanced diagnostic tools, such as MRIs and EEGs, help in accurate assessments. The goal is to offer personalized treatment plans, combining medication, therapy, and rehabilitation to improve the quality of life for patients with neurological conditions.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://renaissancepvtltd.com/wp-content/uploads/2021/11/neuro-medicine-img.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-15">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>ANASTHESIA</h3>
                  <p class="fst-italic">Anesthesia is a medical practice used in hospitals to induce a temporary loss of sensation or awareness, allowing patients to undergo surgeries or other procedures without pain.</p>
                  <p>Administered by trained anesthesiologists or nurse anesthetists, anesthesia can be local, regional, or general, depending on the nature of the procedure. It ensures patient comfort and safety, carefully monitored throughout the procedure to manage vital signs and avoid complications. Recovery is closely supervised to ensure patients regain full consciousness and stability post-procedure.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://madeforthismoment.asahq.org/wp-content/uploads/2017/10/iStock-627196908.jpg" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="departments-tab-16">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>DIABETOLOGY</h3>
                  <p class="fst-italic">Diabetology in hospitals focuses on the diagnosis, treatment, and management of diabetes and its complications.</p>
                  <p>It involves specialized care from endocrinologists, who provide personalized treatment plans to control blood sugar levels and improve overall health. Diabetology services include monitoring for diabetic complications, educating patients about lifestyle changes, administering insulin therapy, and using advanced technologies like continuous glucose monitoring. The goal is to prevent complications such as heart disease, kidney failure, and vision loss, ensuring a higher quality of life for patients.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="https://productimages.withfloats.com/serviceimages/tile/64029913f27d6241851930bcDepartment-of-Diabetology-and-Endocrinology_tn" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Departments Section -->

    <!-- Doctors Section -->
    <section id="doctors" class="doctors section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>DOCTORS</h2>
        <p>"Experienced doctors providing expert care and support to patients in the hospital."</p>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-1.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Medical Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-2.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-3.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                <img src="static/img/doctors/doctors-4.jpg" class="img-fluid" alt="" />
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
        </div>
      </div>
    </section>
    <!-- /Doctors Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>TESTIMONIALS</h3>
            <p>"At Royal Health Care Kollam, we value the trust and satisfaction of our patients. Read heartfelt testimonials from individuals who have experienced our exceptional care, world-class facilities, and compassionate medical team. Their words reflect our commitment to providing the best healthcare services in a warm and supportive environment."</p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="" />
                      <div>
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
                <!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Testimonials Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>GALLERY</h2>
        <p>"Explore Our Facilities: A Glimpse into Our World-Class Care"</p>
      </div>
      <!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-1.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-2.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-3.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-4.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-5.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-6.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-7.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery"><img src="static/img/gallery/gallery-8.jpg" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <!-- End Gallery Item -->
        </div>
      </div>
    </section>
    <!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>CONTACT US</h2>
        <p>"Get in Touch with Us – We're Here to Assist You with Your Healthcare Needs"</p>
      </div>
      <!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.1931859873316!2d76.70310169999999!3d8.8615997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05e389de9c1819%3A0x93e57185babdec87!2sRoyal%20Healthcare!5e0!3m2!1sen!2sin!4v1734775340203!5m2!1sen!2sin" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-4">
            <br />
            <br />
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Location</h3>
                <p>CHATHANNOOR -691572</p>
              </div>
            </div>
            <!-- End Info Item -->
            <br />
            <br />

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 9072530302</p>
              </div>
            </div>
            <!-- End Info Item -->
            <br />
            <br />

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>royalhospitalkollam@gmail.com</p>
              </div>
            </div>
            <!-- End Info Item -->
            <br />
            <br />
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-whatsapp flex-shrink-0"></i>
              <div>
                <h3>Message Us</h3>
                <p>+91 9072530302</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form bg-light" style="padding: 50px;" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="" />
                </div>

                <div class="col-md-6">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="" />
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="" />
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
          <!-- End Contact Form -->
        </div>
      </div>
    </section>
    <!-- /Contact Section -->
  </main>
{% endblock %}
