{% extends 'base.html' %}Services | Royal Health Care{% block content %}
  <!-- Background Image Section -->
  <section id="background-section" class="d-flex align-items-center justify-content-center" style="background-image: url('https://img.freepik.com/premium-photo/stethoscope-black-background-top-view-space-text_206268-10843.jpg?semt=ais_hybrid'); background-size: cover; background-position: center center; height: 50vh; max-width: 100%; color: #fff; filter: grayscale(0.5);">
    <div class="container text-center">
      <h1 class="lead" style="font-weight: bold; font-size: 34px;color: #fff;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Comprehensive Care Tailored to Your Needs</h1>
    </div>
  </section>
  <!-- /Background Image Section -->
  <!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>SERVICES</h2>
      <p>We provide comprehensive, compassionate care with advanced medical treatments and skilled professionals.</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row row-cols-1 row-cols-lg-5 g-4">
        <div class="col" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-heartbeat"></i>
            </div>
            <h3>Medical Care</h3>
            <p>Medical care involves services provided by healthcare professionals to maintain or improve health, prevent illness, diagnose conditions, and treat diseases. It includes both physical and mental health support.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-pills"></i>
            </div>
            <h3>Palliative Care</h3>
            <p>Palliative care is specialized medical care aimed at providing relief from the symptoms and suffering of serious illnesses. It focuses on improving quality of life for patients and their families.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-hospital-user"></i>
            </div>
            <h3>Emergency Care</h3>
            <p>Emergency care refers to the immediate medical attention provided to individuals experiencing acute health issues or injuries. It aims to stabilize, treat, and prevent further complications in urgent situations.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-dna"></i>
            </div>
            <h3>Fitness and Diet Services</h3>
            <p>Fitness and diet-based services offer personalized workout plans, nutrition guidance, and wellness coaching to help individuals achieve their health goals and maintain a balanced lifestyle.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-wheelchair"></i>
            </div>
            <h3>Mental & Physical Well-being</h3>
            <p>Mental and physical well-being counseling supports individuals in managing stress, emotional challenges, and physical health concerns, promoting holistic wellness.</p>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->
{% endblock %}
